<% include ./includes/header-no-navbar.ejs %>
      <section>
         <!-- Page content-->
         <div class="content-wrapper">
            <div class="row">
              <div class="col-md-12">
                <h3 class="bg-bizpati text-center" style="min-height:40px;padding-top:5px">Predict and Win</h3>
                <div class="col-md-12 text-center">
                  <center>
                    <a href="//worldcup.bizpati.com/play/login" class="btn btn-primary btn-lg">
                      <i class="fa fa-facebook"></i> Login with facebook to continue
                    </a>
                  </center>
                </div>
              </div>
            </div>
         </div>
         <% include ./includes/footer.ejs %>
