<% include ./includes/header.ejs %>
      <section>
         <!-- Page content-->
         <div class="content-wrapper">
            <div class="row">
              <div class="col-md-12">
                <h3 class="bg-bizpati text-center" style="min-height:40px;padding-top:5px">Scoring Points</h3>
                <div class="panel panel-primary">
                  <div class="panel-body">
                    <p><b>खेलका नियमहरु</b></p>
<p>-तपाईंले बिजपाटीको अफिसियल पेज https://www.facebook.com/bizpati/ लाई लाइक
गर्नुपर्नेछ।</p>
<p>-हरेक खेलमा सहि गोल अनुमान लगाउनेले प्रत्येक दिन आकर्षक पुरस्कार जित सक्नुहुनेछ।
एकजना भन्दा बढी सही उत्तर मिलाउने भएमा घोषणा गोलाप्रथाबाट गरिनेछ। गोलाप्रथाको
भिडियो लाइभ हुनेछ।</p>
<p>-प्रत्येक खेलबाट प्राप्त अंक जोडिंदै जानेछ र सबै ६४ खेल सकिएपछी सर्वाधिक अंक प्राप्त गर्ने
मध्ये २० जनालाई बिशेष पुरस्कारको व्यवस्था गरिएको छ</p>
<p><b>पुरस्कारको सुची:</b></p>
<p>-खेल शुरु हुनु अघिसम्म गोल अनुमान लगाउन मिल्नेछ।</p>
<p>-खेल सकिएको २४ घण्टा भित्र बिजेताको घोषणा हुनेछ। तर पुरस्कार भने विश्वकप फुटबलको
<p>फाइनल खेलपछी मात्र वितरण गरिनेछ।</p>
<p>-कुनै विवाद भएमा बिजपाटी डटकमको निर्णय अन्तिम हुनेछ।
<p>अंक निर्धारण निम्न सुत्र अनुसार हुनेछ:</p>
<p>सुत्र: (10x + 10y) +50</p>
<p>जहाँ x= टिम A ले गरेको गोल, Y= टिम B ले गरेको गोल</p>
<p>यदि x वा y मध्ये कुनै एकको भ्यालु शुन्य (०) भए, त्यसलाई 30 अंक मानिनेछ</p>
<p>-त्यस्तै ०-० बराबरी भएको खेलको अनुमान मिलाउनेले १०० अंक प्राप्त गर्नेछ</p>
<p>-यदि खेल १-२ मा सकिएको थियो र सो अनुमान मिलेको हुन्छ भने त्यसबाट ८० अंक प्राप्त
हुनेछ</p>
                  </div>
                </div>
              </div>
            </div>
         </div>
         <% include ./includes/footer.ejs %>
