<% include ./includes/header.ejs %>
      <section>
         <!-- Page content-->
         <div class="content-wrapper">
            <div class="row">
              <div class="col-md-12">
                <h3 class="bg-bizpati text-center" style="min-height:40px;padding-top:5px">Scoring Points</h3>
                <div class="panel panel-primary">
                  <div class="panel-body">
                    <p>Scoring points= goal scored multiplied by 10 plus 50. (Excluding 0-0 draw)</p>
                    <p>For example if game ends in a 1-2 and user have correctly predicted this, he/she will get total 80 points. For team A 1X10=10. for team B 2X10=20 . total 10+20 + 50 (Bonus)=80.</p>
                    <p>In case match ends in 0-0 draw user will get 100 points.</p>
                  </div>
                </div>
              </div>
            </div>
         </div>
         <% include ./includes/footer.ejs %>
