<% include ./includes/header.ejs %>
      <section>
         <!-- Page content-->
         <div class="content-wrapper">
            <div class="row">
              <div class="col-md-12">
                <h3 class="bg-bizpati text-center" style="min-height:40px;padding-top:5px">Scoring Points</h3>
                <div class="panel panel-primary">
                  <div class="panel-body">
                    <p>Scoring points= goal scored multiplied by 10 plus 50. (Excluding 0-0 draw)</p>
                    <p>For example if game ends in a 1-2 and user have correctly predicted this, he/she will get total 120 points. For team A 1X10=10+50=60. for team B 2X10=20+50=70 . total 70+60=130.</p>
                    <p>In case match ends in 0-0 draw user will get 100 points.</p>
                    <h4>Know your prizes</h4>
                    <p>
                      <b>Prize</b><br>
                      <b>Individual game prediction:</b><br>
                      <p>Group stage match: movies tickets</p>
                      <p>Pre quarter final games: Movies ticket plus Changragiri hills Ticket</p>
                      <p>Quarter final games: Movies ticket, Changragiri hills Ticket plus free TV subscription</p>
                      <p>Semifinal games: Movies ticket, Changragiri hills Ticket plus free TV subscription with special package.</p>
                      <p>3 rd place game: Movies ticket, Changragiri hills Ticket plus free TV subscription with special package.</p>
                      <p>Final game: Movies ticket, Two Changragiri hills Ticket plus free TV subscription with special package.</p>
                      <br><br>
                      <p>
                        <b>Prizes for leaderboard (winners based on accumulated points)</b>
                      </p>
                      <ul class="list-group">
                        <li class="list-group-item">1 st prize: TV.</li>
                        <li class="list-group-item">2 nd prize: Smart Phone</li>
                        <li class="list-group-item">3 rd prize: 1 Year Free TV subscription.</li>
                        <li class="list-group-item">4 th to 10 th prize: Changragiri Ticket Plus Free Tv subscription</li>
                      </ul>
                    </p>
                  </div>
                </div>
              </div>
            </div>
         </div>
         <% include ./includes/footer.ejs %>
