<% include ./includes/header-no-navbar.ejs %>
      <section>
         <!-- Page content-->
         <div class="content-wrapper">
            <div class="row">
              <div class="col-md-12">
                <% for(var i=0; i < data.length; i++) { %>
                <div class="col-md-6">
                  <div class="panel panel-primary">
                    <div class="panel-body">
                      <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                          <thead>
                            <tr class="bg-bizpati">
                              <th colspan="6" class="text-center color-white"><%=data[i].name %></th>
                            </tr>
                            <tr>
                              <th>Country</th>
                              <th>GP</th>
                              <th>W</th>
                              <th>D</th>
                              <th>L</th>
                              <th>P</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% for(var j = 0; j < data[i].data.length; j++) { %>
                            <tr>
                              <td><%=data[i].data[j].name %></td>
                              <td>10</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                            </tr>
                            <% } %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <% } %>
              </div>
            </div>
         </div>
         <% include ./includes/footer.ejs %>
