<% include ./includes/header.ejs %>
      <section>
         <!-- Page content-->
         <div class="content-wrapper">
            <div class="row">
              <div class="col-md-12">
                <h3 class="bg-bizpati text-center" style="min-height:40px;padding-top:5px">Terms and Conditions</h3>
                <div class="panel panel-primary">
                  <div class="panel-body">
                    <p>
                      This webpage, worldcup.bizpati.com (along with its sub-pages) (‘Web Portal’), is owned and operated by the bizpati.com. Through the Web Portal, bizpati provides users to predict the 2018 FiFA world cup games. Users will be rewarded for each correct prediction.</p>
                      <ul class="list-group">
                        <li class="list-group-item">User will need a Facebook ID in order to register for this prediction process.</li>
                        <li class="list-group-item">Prediction will start only before 24 hours than the actual match start and will close at the match kick off time.</li>
                        <li class="list-group-item">Users can predict how many goals each team scores for all 64 games.</li>
                        <li class="list-group-item">For each correct prediction user will be rewarded with prizes. Prize details can be found below.
                          <ol>
                            <li>BSR Movies Ticket</li>
                            <li>Chandragiri Hills Ticket</li>
                            <li>Free TV Subscription</li>
                            <li>Smart Phone</li>
                          </ol>
                        </li>
                        <li class="list-group-item">Both team’s score should be correctly predicted in order to be eligible for prizes. Example: If team A scores 2 goals and team B score 1 goal, only those users who had predicted that team A will defeat team B by 2-1 goal will be eligible for prize.</li>
                        <li class="list-group-item">If more than one user correctly predicts the match outcome then winner will be decided by lottery.</li>
                        <li class="list-group-item">Users will be awarded points for each correct prediction. Points gained in each game will be accumulated. 20 users having maximum points by the end of all 64 games will be rewarded with prizes.</li>
                        <li class="list-group-item">At any time Users can see their rank and the points they have scored from the website.</li>
                        <li class="list-group-item">Top 20 points holder will be displayed in the site and is visible to all who visits the site.</li>
                        <li class="list-group-item">User should claim the prize from bizpati office and user must be able to show the valid government issued ID if required.</li>
                        <li class="list-group-item">There may be some condition in the prize and those conditions will be clearly mentioned before delivering the prize.</li>
                        <li class="list-group-item">Winning users will not have to pay anything extra to get the prize.</li>
                        <li class="list-group-item">In case of any dispute the decision of bizpati will be final.</li>
                        <li class="list-group-item">The photo in the site is only for representational purpose and actual prize may differ to than that shown in the website.</li>
                      </ul>
                  </div>
                </div>
              </div>
            </div>
         </div>
         <% include ./includes/footer.ejs %>
