<% include ./includes/header.ejs %>
      <section>
         <!-- Page content-->
         <div class="content-wrapper">
            <div class="row">
              <div class="col-md-12">
                <h3 class="bg-bizpati text-center" style="min-height:40px;padding-top:5px">Today Leaderboard</h3>
                <div class="table-responsive">
                  <table class="table table-striped table-bordered table-responsive">
                    <thead>
                      <tr>
                        <th>SN</th>
                        <th>Name</th>
                        <th>Points</th>
                      </tr>
                    </thead>
                    <tbody>
                    <% for(var i=0; i< data.length; i++) { %>
                      <tr>
                        <td><%=i + 1 %></td>
                        <td><%=data[i].name %></td>
                        <td><%=data[i].today_points %></td>
                      </tr>
                    <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
         </div>
         <% include ./includes/footer.ejs %>
