<footer>
   <span>&copy; 2018 - ChatMini</span>
</footer>
</div>
<!-- =============== VENDOR SCRIPTS ===============-->
<!-- JQUERY-->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<!-- Location picker  -->
<script type="text/javascript" src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCUZfyHvC7jE-yR40zs5w5a04rRJCUdncU&libraries=places'></script>
<script type="text/javascript" src="http://rawgit.com/Logicify/jquery-locationpicker-plugin/master/dist/locationpicker.jquery.js"></script>
<!-- BOOTSTRAP-->
<script src="/vendor/bootstrap/dist/js/bootstrap.js"></script>
<!-- STORAGE API-->
<script src="/vendor/jQuery-Storage-API/jquery.storageapi.js"></script>
<!-- FLOT CHART-->
<script src="/vendor/Flot/jquery.flot.js"></script>
<script src="/vendor/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
<script src="/vendor/Flot/jquery.flot.categories.js"></script>
<script src="//unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- =============== PAGE VENDOR SCRIPTS ===============-->
<!-- PARSLEY-->
<script src="/vendor/parsleyjs/dist/parsley.min.js"></script>
<!-- Jquery ajax form from maslab -->
<script type="text/javascript" src="//malsup.github.io/min/jquery.form.min.js"></script>
<!-- Select2 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<!-- =============== APP SCRIPTS ===============-->
<script src="/assets/js/app.js"></script>
<script src="/assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="/assets/js/myjs.js"></script>
</body>

</html>
