<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <title>Worldcup Predict and Win</title>
   <!-- =============== VENDOR STYLES ===============-->
   <!-- FONT AWESOME-->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <!-- SIMPLE LINE ICONS-->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
   <!-- ANIMATE.CSS-->
   <link rel="stylesheet" href="/vendor/animate.css/animate.min.css">
   <!-- WHIRL (spinners)-->
   <link rel="stylesheet" href="/vendor/whirl/dist/whirl.css">
   <!-- =============== PAGE VENDOR STYLES ===============-->
   <!-- =============== BOOTSTRAP STYLES ===============-->
   <link rel="stylesheet" href="/assets/css/bootstrap.css" id="bscss">
   <!-- =============== APP STYLES ===============-->
   <link rel="stylesheet" href="/assets/css/app.css" id="maincss">
   <link rel="stylesheet" href="/assets/css/styles.css" id="bscss">
   <!-- Global site tag (gtag.js) - Google Analytics -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120823512-1"></script>
   <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-120823512-1');
  </script>
  <style>
  .blink_me {
    animation: blinker 2s linear infinite;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  </style>
</head>

<body class="layout-h">
   <div class="wrapper">
     <div class="row">
       <div class="col-md-12 text-center">
         <br>
         <center>
           <img src="/assets/img/wc.png" alt="Worldcup 2018 BizPati" class="img img-responsive">
         </center>
         <br>
       </div>
     </div>
      <!-- top navbar-->
      <header class="topnavbar-wrapper">
         <!-- START Top Navbar-->
         <nav role="navigation" class="navbar topnavbar">
            <!-- START navbar header-->
            <div class="navbar-header">
               <a href="#/" class="navbar-brand">
                  <div class="brand-logo">
                     <img src="/assets/img/sano.png" alt="App Logo" class="img-responsive">
                  </div>
                  <div class="brand-logo-collapsed">
                     <img src="/assets/img/bizpati.png" alt="App Logo" class="img-responsive">
                  </div>
               </a>
            </div>
            <!-- END navbar header-->
            <!-- START Nav wrapper-->
            <div class="nav-wrapper">
               <!-- START Left navbar-->
               <ul class="nav navbar-nav navbar-right">
                 <li>
                   <a href="//www.bizpati.com/worldcup" target="_blank" title="विश्वकप बिशेष" class="blink_me"> विश्वकप बिशेष</a>
                 </li>
                 <li>
                   <a href="/toc" target="_blank" title="TOC"> TOC</a>
                 </li>
                 <li>
                   <a href="/scoring" target="_blank" title="How to Score"> How to play</a>
                 </li>
                 <li>
                   <a href="/prizes" target="_blank" title="Prizes"><i class="fa fa-money"></i> Prizes</a>
                 </li>
                 <li>
                   <a href="/match" target="_blank" title="Fixtures"><i class="fa fa-bullhorn"></i> Fixtures</a>
                 </li>
                 <li>
                   <a href="/result" target="_blank" title="Today Leaderboard"><i class="fa fa-home"></i> Results</a>
                 </li>
                 <li>
                   <a href="/today_points" target="_blank" title="Today Leaderboard"><i class="fa fa-bar-chart"></i> Todays Standing</a>
                 </li>
                 <li>
                   <a href="/tiesheet" target="_blank" title="TieSheet"><i class="fa fa-table"></i> Group Table</a>
                 </li>
                 <li class="dropdown">
                   <a><i class="fa fa-user"></i> <%=user.displayName %></a>
                 </li>
               </ul>
               <!-- END Left navbar-->
            </div>
            <!-- END Nav wrapper-->
         </nav>
         <!-- END Top Navbar-->
      </header>
      <!-- Main section-->
