<% include includes/header.ejs %>
<% include includes/sidebar.ejs %>
      <section>
         <!-- Page content-->
         <div class="content-wrapper">
            <div class="content-heading">
                <!-- START Language list-->
                <div class="pull-right">
                   <a href="/score/reset/" class="btn btn-default pull-right ajaxClick">Reset Points (Today)</a>
                </div>
                <!-- END Language list    -->
                Home - Dashboard
                <small data-localize="dashboard.WELCOME">Dashboard</small>
             </div>
            <div class="row">
               <div class="col-md-4">
                 <div class="panel widget bg-primary">
                    <div class="row row-table">
                       <div class="col-xs-4 text-center bg-primary-dark pv-lg">
                          <em class="fa fa-newspaper-o fa-3x"></em>
                       </div>
                       <div class="col-xs-8 pv-lg">
                          <div class="h2 mt0">1700</div>
                          <div class="text-uppercase">Game</div>
                       </div>
                    </div>
                 </div>
               </div>
               <div class="col-md-4">
                 <div class="panel widget bg-white">
                    <div class="row row-table">
                       <div class="col-xs-4 text-center bg-green pv-lg">
                          <em class="fa fa-users fa-3x"></em>
                       </div>
                       <div class="col-xs-8 pv-lg">
                          <div class="h2 mt0">450</div>
                          <div class="text-uppercase">Patients</div>
                       </div>
                    </div>
                 </div>
               </div>
               <div class="col-md-4">
                 <div class="panel widget bg-purple">
                    <div class="row row-table">
                       <div class="col-xs-4 text-center bg-purple-dark pv-lg">
                          <em class="fa fa-times fa-3x"></em>
                       </div>
                       <div class="col-xs-8 pv-lg">
                          <div class="h2 mt0">250</div>
                          <div class="text-uppercase">Doctors</div>
                       </div>
                    </div>
                 </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Page footer-->
<% include includes/footer.ejs %>
