<% include ../includes/header.ejs %>
<% include ../includes/sidebar.ejs %>
      <section>
         <!-- Page content-->
         <div class="content-wrapper">
            <h3>Home - Game
               <small>Create Game</small>
            </h3>
            <div class="row">
              <div class="col-md-12">
                <a href="/game" class="btn btn-md btn-primary">
                  <i class="fa fa-eye"></i> View Game
                </a>
                <hr>
              </div>
              <div class="col-md-9">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    Add new Game
                  </div>
                  <div class="panel-body">
                    <form class="ajaxForm" method="post" role="form" data-parsley-validate="" novalidate="">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="name">Enter Game name *</label>
                          <input type="text" name="name" placeholder="Enter Game name" class="form-control" required="required">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label> </label>
                          <input class="btn btn-success" type="submit" name="submit" value="Create new game">
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <ul class="list-group">
                  <li class="list-group-item">Game name must be unique than others</li>
                  <li class="list-group-item">All fields are required!</li>
                </ul>
              </div>
            </div>
         </div>
      </section>
      <!-- Page footer-->
<% include ../includes/footer.ejs %>
